@page "/camera"
@using ZBar.Blazor.Dtos

<PageTitle>ZBarCamera</PageTitle>
<div class="page">
    <ZBarCamera @ref="Camera"
        AutoScan="@AutoScan" ScanInterval="@AutoScanInterval"
        ScanFor="@ScanFor"
        MinimumValueLength="@MinValueLength"
        MaximumValueLength="@MaxValueLength"
        HonorCheckDigit="@HonorCheckDigit"
        IncludeCheckDigit="@IncludeCheckDigit"
        EnableFullCharacterSet="@EnableFullCharacterSet"
        CameraViewType="@CameraView"
        Verbose="@Verbose"
        OnBarcodesFound="OnBarcodesFound" />
    <div class="tools">
        <div class="section">
            <button class="btn btn-primary" @onclick="StartVideoFeed">Start</button>
            <button class="btn btn-danger" @onclick="EndVideoFeed">Stop</button>
            <select class="form-select" @bind="@SelectedHardwareDeviceId">
                <option selected disabled>Select a video device</option>
                @if (AvailableHardwareDevices != null)
                {
                    @foreach (var device in AvailableHardwareDevices)
                    {
                        <option value="@device.Id">@device.Name</option>
                    }
                }
            </select>
        </div>
        <div class="section">
            <label class="form-check-label description" style="padding-top: 4px;">Scan For:</label>
            <span style="padding-top: 4px;">@GetScanForDisplay()</span>
            <button class="btn btn-secondary btn-sm" style="margin-left: 8px;" @onclick="OpenAdvancedConfig">Advanced Configuration</button>
        </div>
        <div class="section">
            <label class="form-check-label description" style="padding-top: 4px;">Auto Scan:</label>
            <div class="radioSelection" style="padding-top: 4px;">
                <div>
                    <input class="form-check-input" type="radio" name="autoScan" id="AutoScanOn" checked="@AutoScan" @onchange="@(() => AutoScan = true)" />
                    <label class="form-check-label" for="AutoScanOn">On</label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="autoScan" id="AutoScanOff" checked="@(!AutoScan)" @onchange="@(() => AutoScan = false)" />
                    <label class="form-check-label" for="AutoScanOff">Off</label>
                </div>
            </div>
            @if (!AutoScan)
            {
                <button class="btn btn-secondary btn-sm" style="margin-left: 10px;" @onclick="Scan">Scan Now</button>
            }
        </div>
        @if (AutoScan)
        {
            <div class="section" style="margin-bottom: 16px;">
                <label class="form-check-label description" style="padding-top: 4px;">Scan Interval:</label>
                <div>
                    <input type="range" id="ScanInterval" list="ScanIntervalMarkers" min="100" max="2000" step="100" @bind-value="@AutoScanInterval" />
                    <datalist id="ScanIntervalMarkers">
                        <option value="100" label="100ms" style="left: -8px;"></option>
                        <option value="1000" label="1s" style="left: 90px;"></option>
                        <option value="2000" label="2s" style="left: 190px;"></option>
                    </datalist>
                </div>
            </div>
        }
        <div class="section">
            <label class="form-check-label description">Verbose:</label>
            <div class="radioSelection">
                <div>
                    <input class="form-check-input" type="radio" name="verbose" id="VerboseOn" checked="@Verbose" @onchange="@(() => Verbose = true)">
                    <label class="form-check-label" for="VerboseOn">On</label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="verbose" id="VerboseOff" checked="@(!Verbose)" @onchange="@(() => Verbose = false)">
                    <label class="form-check-label" for="VerboseOff">Off</label>
                </div>
            </div>
        </div>
        <div class="section">
            <label class="form-check-label description">Camera View Type:</label>
            <div class="radioSelection">
                <div>
                    <input class="form-check-input" type="radio" name="cameraViewType" id="CameraViewTypeVideoFeed" checked="@(CameraView == CameraViewType.VideoFeed)" @onchange="@(() => CameraView = CameraViewType.VideoFeed)">
                    <label class="form-check-label" for="CameraViewTypeVideoFeed">Video Feed</label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="cameraViewType" id="CameraViewTypeScannerFeed" checked="@(CameraView == CameraViewType.ScannerFeed)" @onchange="@(() => CameraView = CameraViewType.ScannerFeed)">
                    <label class="form-check-label" for="CameraViewTypeScannerFeed">Scanner Feed</label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="cameraViewType" id="CameraViewTypeNone" checked="@(CameraView == CameraViewType.None)" @onchange="@(() => CameraView = CameraViewType.None)">
                    <label class="form-check-label" for="CameraViewTypeNone">None</label>
                </div>
            </div>
        </div>
        <div class="section foundBarcodes">
            <h5>Found Barcodes</h5>
            <div class="barcodes">
                @if (FoundBarcodes != null)
                {
                    foreach (var barcode in FoundBarcodes)
                    {
                        <div class="barcode">
                            <div class="type">@barcode.Type</div>
                            <div class="value">@barcode.Value</div>
                        </div>
                    }
                }
                else
                {
                    <div class="none">None Found</div>
                }
            </div>
        </div>
    </div>
</div>