@page "/camera"
@using ZBar.Blazor.Dtos

<PageTitle>ZBarCamera</PageTitle>
<div class="page">
    <ZBarCamera @ref="Camera" CameraViewType="@CameraView" />
    <div class="tools">
        <div class="section">
            <button class="btn btn-primary" @onclick="StartVideoFeed">Start</button>
            <button class="btn btn-danger" @onclick="EndVideoFeed">Stop</button>
            <select class="form-select" @bind="@SelectedHardwareDeviceId">
                <option selected disabled>Select a video device</option>
                @if (AvailableHardwareDevices != null)
                {
                    @foreach (var device in AvailableHardwareDevices)
                    {
                        <option value="@device.Id">@device.Name</option>
                    }
                }
            </select>
        </div>
        <div class="section">
            <label class="form-check-label description">Camera View Type:</label>
            <input class="form-check-input" type="radio" name="cameraViewType" id="CameraViewTypeVideoFeed" checked="@(CameraView == CameraViewType.VideoFeed)" @onchange="@(() => CameraView = CameraViewType.VideoFeed)">
            <label class="form-check-label" for="CameraViewTypeVideoFeed">
                Video Feed
            </label>
            <input class="form-check-input" type="radio" name="cameraViewType" id="CameraViewTypeScannerFeed" checked="@(CameraView == CameraViewType.ScannerFeed)" @onchange="@(() => CameraView = CameraViewType.ScannerFeed)">
            <label class="form-check-label" for="CameraViewTypeScannerFeed">
                Scanner Feed
            </label>
            <input class="form-check-input" type="radio" name="cameraViewType" id="CameraViewTypeNone" checked="@(CameraView == CameraViewType.None)" @onchange="@(() => CameraView = CameraViewType.None)">
            <label class="form-check-label" for="CameraViewTypeNone">
                None
            </label>
        </div>
    </div>
</div>

@code {
    private ZBarCamera Camera;

    private CameraViewType CameraView { get; set; } = CameraViewType.VideoFeed;

    private HardwareDevice[] AvailableHardwareDevices;
    private string SelectedHardwareDeviceId;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender) {
            AvailableHardwareDevices = await Camera.GetAvailableDevices();
            StateHasChanged();
        }
    }

    private async Task StartVideoFeed()
    {
        if (SelectedHardwareDeviceId != null) {
            await Camera.StartVideoFeed(SelectedHardwareDeviceId);
        }
    }

    private async Task EndVideoFeed()
    {
        await Camera.EndVideoFeed();
    }
}